<a href="https://colab.research.google.com/github/RudravMahure/Pandas/blob/main/pandas_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


In machine learning you will most likely use databases from many sources to train your learning algorithms. Pandas allows us to load databases of different formats into DataFrames. One of the most popular data formats used to store databases is csv. CSV stands for Comma Separated Values and offers a simple format to store data. We can load CSV files into Pandas DataFrames using the pd.read_csv() function. Let's load Google stock data into a Pandas DataFrame. The GOOG.csv file contains Google stock data from 8/19/2004 till 10/13/2017 taken from Yahoo Finance.

In [1]:
import pandas as pd

In [4]:
# We load Google stock data in a DataFrame
Google_stock=pd.read_csv('GOOG.csv')

print("Google_stock type of file : ",type(Google_stock))
print("Shape of Google_stock file",Google_stock.shape)

Google_stock type of file :  <class 'pandas.core.frame.DataFrame'>
Shape of Google_stock file (3313, 7)

In [5]:
Google_stock

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
1,2004-08-20,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
2,2004-08-23,55.017166,56.373344,54.172661,54.346527,54.346527,18393200
3,2004-08-24,55.260582,55.439419,51.450363,52.096165,52.096165,15361800
4,2004-08-25,52.140873,53.651051,51.604362,52.657513,52.657513,9257400
...,...,...,...,...,...,...,...
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

We see that it is quite a large dataset and that Pandas has automatically assigned numerical row indices to the DataFrame. Pandas also used the labels that appear in the data in the CSV file to assign the column labels.

When dealing with large datasets like this one, it is often useful just to take a look at the first few rows of data instead of the whole dataset. We can take a look at the first 5 rows of data using the .head() method, as shown below

In [6]:
Google_stock.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400

We can also take a look at the last 5 rows of data by using the .tail() method:

In [7]:
Google_stock.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
3308,2017-10-09,980.000000,985.424988,976.109985,977.000000,977.000000,891400
3309,2017-10-10,980.000000,981.570007,966.080017,972.599976,972.599976,968400
3310,2017-10-11,973.719971,990.710022,972.250000,989.250000,989.250000,1693300
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

We can also optionally use .head(N) or .tail(N) to display the first and last N rows of data, respectively.

Let's do a quick check to see whether we have any NaN values in our dataset. To do this, we will use the .isnull() method followed by the .any() method to check whether any of the columns contain NaN values.

In [8]:
Google_stock.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

We see that we have no NaN values.

When dealing with large datasets, it is often useful to get statistical information from them. Pandas provides the .describe() method to get descriptive statistics on each column of the DataFrame. Let's see how this works:

In [9]:
Google_stock.describe()

,Open,High,Low,Close,Adj Close,Volume
count,3313.000000,3313.000000,3313.000000,3313.000000,3313.000000,3.313000e+03
mean,380.186092,383.493740,376.519309,380.072458,380.072458,8.038476e+06
std,223.818650,224.974534,222.473232,223.853780,223.853780,8.399521e+06
min,49.274517,50.541279,47.669952,49.681866,49.681866,7.900000e+03
25%,226.556473,228.394516,224.003082,226.407440,226.407440,2.584900e+06
50%,293.312286,295.433502,289.929291,293.029114,293.029114,5.281300e+06
75%,536.650024,540.000000,532.409973,536.690002,536.690002,1.065370e+07
max,992.000000,997.210022,989.000000,989.679993,989.679993,8.276810e+07

If desired, we can apply the .describe() method on a single column as shown below:

In [10]:
Google_stock['Open'].describe()

count    3313.000000
mean      380.186092
std       223.818650
min        49.274517
25%       226.556473
50%       293.312286
75%       536.650024
max       992.000000
Name: Open, dtype: float64

Similarly, you can also look at one statistic by using one of the many statistical functions Pandas provides. Let's look at some examples:

In [12]:
Google_stock.max()

Date         2017-10-13
Open              992.0
High         997.210022
Low               989.0
Close        989.679993
Adj Close    989.679993
Volume         82768100
dtype: object

In [13]:
Google_stock.min()

Date         2004-08-19
Open          49.274517
High          50.541279
Low           47.669952
Close         49.681866
Adj Close     49.681866
Volume             7900
dtype: object

In [14]:
Google_stock.mean()

<ipython-input-14-781108e0fb5a>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Google_stock.mean()

Open         3.801861e+02
High         3.834937e+02
Low          3.765193e+02
Close        3.800725e+02
Adj Close    3.800725e+02
Volume       8.038476e+06
dtype: float64

Another important statistical measure is data correlation. Data correlation can tell us, for example, if the data in different columns are correlated. We can use the .corr() method to get the correlation between different columns, as shown below:

In [15]:
# We display the correlation between columns
Google_stock.corr()

<ipython-input-15-66816aec82b3>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  Google_stock.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999904  0.999845  0.999745   0.999745 -0.564258
High       0.999904  1.000000  0.999834  0.999868   0.999868 -0.562749
Low        0.999845  0.999834  1.000000  0.999899   0.999899 -0.567007
Close      0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Adj Close  0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Volume    -0.564258 -0.562749 -0.567007 -0.564967  -0.564967  1.000000

In [16]:
Google_stock.sort_values(by=['Open','High'],ascending=[True,False])

,Date,Open,High,Low,Close,Adj Close,Volume
10,2004-09-02,49.274517,50.854240,49.150326,50.427021,50.427021,15232100
0,2004-08-19,49.676899,51.693783,47.669952,49.845802,49.845802,44994500
13,2004-09-08,50.044510,51.182110,49.925285,50.819469,50.819469,5023000
11,2004-09-03,50.148830,50.541279,49.339096,49.681866,49.681866,5191000
1,2004-08-20,50.178635,54.187561,49.925285,53.805050,53.805050,23005800
...,...,...,...,...,...,...,...
3223,2017-06-08,982.349976,984.570007,977.200012,983.409973,983.409973,1481900
3221,2017-06-06,983.159973,988.250000,975.140015,976.570007,976.570007,1814600
3224,2017-06-09,984.500000,984.500000,935.630005,949.830017,949.830017,3309400
3311,2017-10-12,987.450012,994.119995,985.000000,987.830017,987.830017,1262400
3312,2017-10-13,992.000000,997.210022,989.000000,989.679993,989.679993,1157700

In [17]:
Google_stock.to_csv('New_Google_Stock')